html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: inherit;
}

.app {
  margin: 0 auto;
  max-width: 900px;
  min-width: 300px;
}

button {
  background-color: transparent;
  color: #333;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  cursor: pointer;
  white-space: nowrap;
}

header {
  border-bottom: 1px solid red;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem 0;
  align-items: center;
}

header > .logo {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
}

header > .nav {
  flex: 1;
  display: flex;
}

header > .nav button {
  margin-left: 1rem;
  color: black;
  background-color: transparent;
  box-shadow: none;
}

.items {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

.item {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

.item label {
  display: block;
  padding-bottom: 10px;
  height: 40px;
}

@media (min-width: 600px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.complete {
  background-color: mistyrose;
  text-decoration: line-through;
}

.actions-menu {
  height: 100px;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions-menu button {
  margin-left: 1rem;
  color: white;
  background-color: royalblue;
  border: none;
}
